.cruid {
    h1 {
        opacity: 0.8;
        text-align: center;
        margin: 20px;
    }
    button {
        margin-left: 5px;
    }
    padding-bottom: 12em;
}
.form-control1 {
    width: 100%;
    border: none;
    padding: 14px 0 12px 40px;
    font-weight: 300;
    outline: none !important;
    color: #4c4c4c;
    line-height: 18px;
    border-bottom: 1px solid #e4e4e4;
    // margin: 1em;
    padding: 1.4em;
}
