@import "./../../sass/main.scss";
.Ab {
    @include mediaQuery("desktop") {
        height: 118em;
    }
    height: 50em;
    position: relative;
    .Ab1 {
        z-index: 3;
        position: absolute;
        top: -100px;
    }
    .headerAb {
        color: white;
        p {
            font-weight: bold;
        }
        i {
            float: right;
            font-size: 6.5em;
        }
        .test {
            transition: all 0.2s;
            top: 0;
            &:hover {
                top: -10px;
            }
        }
    }
    .AbBody {
        .AbBody_left {
            margin-top: 2em;
            p {
                padding: 0.8em 0;
                font-size: 1.6em;
                font-style: italic;
                font-family: "Playfair Display";
                color: #868686;
            }
            span{
                color: #868686;
                font-size: 1.2em;
            }
        }
        .AbBody_right {
            background-color: #f6f6f6;
            p {
                font-weight: 700;
                text-align: center;
                margin-top: 2em;
            }
            ul {
                li {
                    margin: 0 auto;
                    list-style: none;
                    width: 10em;
                    img {
                        padding: 2em 0;

                        // align-self: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
