@import "./../../sass/main.scss";

.carouselCss {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }
    img {
        height: 32rem;
    }
    .carousel-control-prev,
    .carousel-control-next {
        position: absolute;
        top: 45%;
        height: 4em;
        width: 4em;
        background-color: #18afd3;
        z-index: 2;
    }
    .textCarousel {
        font-size: smaller;
        position: absolute;
        width: 40%;
        top: 20%;
        left: 14%;
        z-index: 2;
        color: white;
        h1 {
            margin-bottom: 1em;
        }
        button {
            margin-top: 1em;
            padding: 0.8em;
            border: solid #f57e57 1px;
            width: 11em;
            border-radius: 40px;
            background-color: #f57e57;
            color: white;
        }
    }
}
